<html>
<head>
    
</head>
<body>
    
    <p>Please click below to confirm  your email address for access to the KPcoin website:<br><br> 
    <a href="<%=webaddress%><%=email%>&token=<%=emailtoken%>">Click here to confirm email</a>
                                                


</p>  

 <br>
    <br>
    <br>
    <br>
    <br>


    <small>Disclaimer: This message is intended solely for the addressee and may contain confidential information. If you have received this message in error, please send it back to us, and immediately and permanently delete it. Do not use, copy or disclose the information contained in this message or in any attachment. myAxis Ltd, registered in England and Wales. Registered office: 3rd Floor 3 Fitzhardinge Street, London, W1H 6EF. Company number: 07382489, VAT number: 998953328. myAxis Ltd © 2017. All rights reserved.  
</small>
     <br>
    <br>
    <br>
    
</body>



</html>