<html>

<head>

</head>

<body>

    <p>Thanks for using KPcoins to buy
        <%=assetname%>.
            <br>
            <br> Here's the link to the full version:

            <a href="<%=assetpath%>">Click to view/download</a>.
            <br>
            <br> Remember to check your wallet page on the KPcoin website to see a breakdown of all your transactions.
            <br>
            <br> Have fun!
            <br> KPx
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    
    <small>Disclaimer: This message is intended solely for the addressee and may contain confidential information. If you have received this message in error, please send it back to us, and immediately and permanently delete it. Do not use, copy or disclose the information contained in this message or in any attachment. myAxis Ltd, registered in England and Wales. Registered office: 3rd Floor 3 Fitzhardinge Street, London, W1H 6EF. Company number: 07382489, VAT number: 998953328. myAxis Ltd © 2017. All rights reserved.  
</small>

     <br>
    <br>
    <br>
</body>



</html>
