<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>KPcoin</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110547521-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110547521-1');
</script>

    <link rel="icon" href="assets/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/sha256.js"></script>	
    <script>
     $(window).load(function() {
        document.getElementById("txtA").defaultValue = "";
          document.getElementById('txtB').style.backgroundColor = '#0f7a86';
    });
    
    function calcHash() {
                strTxt = document.getElementById("txtA").value;
                if( strTxt.length == 0 ) {
                    document.getElementById('txtB').value = "";
                    return;
                }
                    if( strTxt.search("\r")>0 ) strTxt=replaceAll( "\r", "", strTxt );
//                    var isnum = /^\d+$/.test(strTxtB);
//                    console.info('isnum is '+ isnum);
                    var strHash = hex_sha256( strTxt );
                    document.getElementById('txtB').value = strHash;
            }

        function dontShowAnimations(){
         var x = document.getElementById("animation-button");
         var y = document.getElementById("animation-section");
                x.style.display = "block";
                y.style.display = "none";
            
            
        }

    function showAnimations(){
           var x = document.getElementById("animation-button");
         var y = document.getElementById("animation-section");
                x.style.display = "none";
                y.style.display = "block";
        }    
    </script>

</head>

 <body>
    <nav>
        <div class="nav__container">
            <div class="nav__brand">
                <a href="/"> <img alt="" ; src="assets/logo_primary.png" style="max-width:50px;height:50px;"></a>

            </div>
            <div class="nav__menu-mobile">
                <a href="#" onclick="toggleNavbarLinks()">
                    <span class="nav__menu-mobile__text"></span>
                    <span class="nav__menu-mobile__icon fa fa-bars"></span>
                </a>
            </div>



            <ul class="nav__links">
                <% if (!user) {
          for(var i=2; i<navSignedOut.length;i++){%>
                    <li class="nav__link">
                        <a href="<%=navSignedOut[i].Link%>">
                            <%=navSignedOut[i].Title%>
                        </a>
                    </li>
                    <%}
            } else {
          for(var i=1; i<navSignedIn.length;i++){%>
                        <li class="nav__link">
                            <a href="<%=navSignedIn[i].Link%>">
                                <%=navSignedIn[i].Title%>
                            </a>
                        </li>
                        <%}
                }%>
            </ul>
        </div>
    </nav>

    <main>
        <div class="splash__no-background">

            <div style="background-color: #eee;padding:1rem;">
                <br>
             <div class="copy__center-block" > 
                <h2>Discover More</h2>
                 <br>
              <div class="sub__menu">In this section:<br></div>
                <a href="#what-is-money"><u>What is Money</u></a><br>
                 <a href="#enter-the-cryptocurrency"><u>Enter the Cryptocurrency</u></a><br>
                 <a href="#how-does-kpcoin-work"><u>How does KPcoin Work?</u></a><br>
                <a href="#differences"><u>How does KPcoin differ from Bitcoin?</u></a><br>
                  <a href="#bitcoin-community"><u>Who Controls Bitcoin?</u></a><br>
                   <a href="#resources"><u>Useful Resources</u></a><br>
                 
                 <br>
                 
                      </div>
            </div>
    <div class="copy__block-center-medium-large">
            <br>
            <div id="what-is-money"></div>   
            <br>

            

<h3 class="thick__padding">What is money?</h3>
 <p class="copy__block-left-medium-large black__font">       
Cash, dosh, mulah, cheese, paper, the filthy lucre, wedge, and of course the root of all evil: there are plenty of pseudonyms for money, but when asking the question "what is money", the answer is more elusive than the simplicity of the question implies.
                    <br>
                    <br>

Is it the coins in your pocket?  Is it the balance figure on your bank statement? Is the $US1.5 trillion that was created by a few keystrokes on a computer at the Federal Reserve Bank of America in 2008 to bailout the banking system?  These are all valid representations, so a proper definition must be broad enough to capture them as well as all of the other practical examples you might think of. So let's simply define money as a way of assigning an agreed value to goods and services so that they can be exchanged between people.
 <br>
<br>

You can exchange the coins in your pocket for a lollipop.  You look at your bank balance and judge whether you have enough to exchange it for a horse or car or a can of baked beans. And the officer at the Fed who placed over a trillion dollars in the bank accounts of America’s largest financial institutions was expecting that in exchange they would avoid the collapse of the world’s economy. Bargain!
                    <br>
                    <br>

There is an interesting fiction in the concept of money:  it only works if we all believe it works. In Yuval Noah Harahi’s excellent book “Sapiens” he calls the development of money a “purely mental revolution. It involved the creation of a new inter-subjective reality that exists solely in the people’s shared imagination”. In other words, if you believe a pint of Guinness can be exchanged for a €5 note and the bartender believes it as well, then sláinte, the system works!
<br>
<br>
More on this subject:  listen to this <a href="https://www.thisamericanlife.org/radio-archives/episode/423/the-invention-of-money" target="_blank"><u>excellent podcast</u></a> from the This American Life team.
                    <br>
                    <br>
            </p>
                <br>
            <div id="enter-the-cryptocurrency"></div>   
            <br>
            <br>
<h3 class="thick__padding">Enter the cryptocurrency</h3>
   <p class="copy__block-left-medium-large black__font">             
In 2008 a mysterious whitepaper appeared on The Cryptography Mailing list at metzdowd.com.  Nothing mysterious about the content of the article, but with the person (or persons) who wrote it. Its author was Satoshi Nakamoto: an unfamiliar name in a community where unfamiliarity was unusual, particularly as the titular “Bitcoin: A Peer-to-Peer Electronic Cash System” paper seemed to arrive as a fully-formed and thoroughly tested solution for something that many in the community had tried to build before and had failed: a robust, cryptographic, trustless, decentralised electronic money system.
                    <br>
                    <br>
None of the concepts introduced in the bitcoin whitepaper were actually new: the genius was solving the problems caused by previous digital money projects just by engineering existing designs in a better way! The whitepaper outlined how transactions could be clumped into a "block", then imprinted with a time-stamped, hashed identification number and placed at the end of chain of previously created blocks, with the prior block’s id number baked into its own. This would ensure that transactions of a certain “depth” would be practically impossible to alter: so everyone could trust that the transactions were accurate and immutable (unchangeable). This along with the use of public key cryptography, which the sender uses to "lock" the value of the transaction and ensure only the correct receiver can "unlock" that value, an automated method of capped "quantitative easing" (i.e. the creation of the money supply) meant that a central bank or central clearing agency (e.g. a credit card company) was unnecessary.
<br>
<br>
And so was born bitcoin and the "blockchain" and an overnight sensation a decade in the making.  The whitepaper spawned whole new industries, billions of dollars of investment and inspired innovation in diverse and hitherto unrelated fields.  It has also, inevitably, inspired fraudsters, charlatans and hackers to steal huge amounts from naive citizens and badly designed host-applications.
                    <br>
                    <br>

Further reading: you can actually read the original whitepaper <a href="https://bitcoin.org/bitcoin.pdf" target="_blank"><u>here</u></a>
<br>
Or for an excellent overview of the history of bitcoin, watch the Netflix documentary: <a href="https://www.netflix.com/gb/title/80154500" target="_blank"><u>Banking on Bitcoin</u></a>

            </p>
            <br>
            <div id="how-does-kpcoin-work"></div>   
            <br>
            <br>
                    
<h3 class="thick__padding">How does KPcoin Work?</h3>
 <p class="copy__block-left-medium-large black__font">
KPcoin is essentially the same as bitcoin: it uses a library attached to the core bitcoin software designed to work with Node.JS, which is language that the website is written in. This library is known as <a href="http://bcoin.io" target="_blank"><u>bcoin</u></a>.  Bcoin in turn uses the the core bitcoin software as its base - so there is a direct technical link between KPcoin and the bitcoin software. See the below for a deeper analysis of bitcoin and the key differences between bitcoin and KPcoin. In this section we'll introduce the key concepts and functions in play when you send and receive KPcoins.
        <br>
     <br>
           
<div id="pkc-primer" class="sub__menu"><b>Public Key Cryptography:</b></div>
 <p class="copy__block-left-medium-large black__font">    
 <a href="https://en.wikipedia.org/wiki/Public-key_cryptography" target="_blank"><u>Public key cryptography</u></a> is the foundation of ownership on the bitcoin and KPcoin network. As it applies here, and in basic terms, a user of the currency has two keys: a private key and a public key. An amount of value being sent is "locked" by the sender by tagging it with the receiver's public key, and can only be "unlocked" (i.e. spent) by the person (or organisation, or computer program) who owns the private key. A public key is public and a private key should be kept...well...you guessed it: private.     
            </p>
      <br>
        <br>
            
            <div id="transaction-wallet-primer" class="sub__menu"><b>Transactions and Wallets:</b></div>
             <p class="copy__block-left-medium-large black__font">         
The most important part of the bitcoin protocol is the transaction (commonly abbreviated to "TX"): they track and store the value of currency that belongs to the private key's owner, they are the basis of blocks in the blockchain and they are the method to which a "miner" pays themselves a reward for securing the network. If there are no transactions flowing, then the network effects don't occur and the system seizes up - the are the lifeblood of cryptocurrencies.
        <br>
        <br>
In their most basic form, transactions are simply references to inputs and outputs: the amount of KPcoin owned, aka the balance, is simply the total of amount of unspent outputs that can be unlocked using your private key/s. In order to buy something you must form a transaction that has a sufficiently large input as to cover the cost (and transaction fees), with any "change" being paid back to you as a new output.  See below diagram and explanation from the original whitepaper:
        <br>
        <br>

             <div class="splash__no-background-no-top-margin copy__block-center-medium-large"><img style="max-width:95%" src="img/tx-ov.png"> 
            </div> 

                 <br>
                 <br>
                 
   <p class="copy__block-left-medium-large black__font">               
In order to send or receive cryptocurrency you need to have an application called a "wallet".  These can be thought of the digital equivalent of a real-world wallet (or purse), but this is only really for convenience - most wallet applications can and do perform many more tasks. The odd thing about a cryptocurrency wallet is that it's just an abstraction of your private key: you can have as many wallets as you want, but the amount of money you own is still linked to your private key. If you set up 10 different wallets with the same private key you don't get 10x your balance! Conversely you can have one wallet with many private keys, so when it comes to your balance, all the wallet is doing is providing a link between your key/s and your transaction history.
                    
<br>
    <br> 
When receiving money, the sender will simply tag the output of the transaction with your public key so that only the person who has access to the associated private key can spend it. That is what counts as ownership. When sending money, or making a purchase you will have to find a transaction (or multiple transactions) that add up to more than than the purchase price, tag it with the recipient's public key and "unlock" the previous transaction/s with your private key (to prove you have the right to spend it). Luckily a wallet will scan your available unspent outputs and form a transaction in accordance with the rules of the protocol: you don't have to do any clever programming, the wallet does it all for you!
<br>
    <br>
 
You could build your own wallet software, but in order to successfully transact you'd have to make sure it can construct transactions properly. If you are using bitcoin it is far easier (and safer) just to download a reputable wallet - the bitcoin.org website is a great resource and gives a breakdown of currently available <a href="https://bitcoin.org/en/choose-your-wallet" target="_blank"><u>wallet software</u></a>. 
<br> 
        <br> 
KPcoin comes with a web wallet hosted on the website for you - in fact that's the only type of wallet you can use with KPcoin as it is a closed system (see the differences between bitcoin and KPcoin below).  This is normally not recommended as it means your private key is stored on someone else's system. On the plus side it means that you don't have to worry about losing your private key - as the website will (should!) keep a backup, but it does mean you have to trust that they will keep your data private. On the personal side you can have a wallet on your phone, on a USB stick, a piece of paper or even in your brain (by memorising a pass phrase). Although technically the last two are just examples of storing your private key offline: in order to transact you will still need some sort of wallet software connected to the network.  With a personal wallet the safekeeping of your private key is entirely your responsibility.
    <br>
       </p>
               <br>
    <div class="splash__no-background-no-top-margin copy__block-center-medium-large thick__padding"><img style="max-width:60%" src="img/wallet-balance.png"></div>
        <div class="thick__padding">
        <small class="sub__menu black__font">Example of a balance in a KPcoin web wallet. <br>The wallet scans the network and sums up all of the unspent TXs associated with your keys on the network</small>
            </div> 
      <p class="copy__block-left-medium-large black__font"> 
    <br> 
<a href="https://www.youtube.com/watch?v=oP4R_fhh0zU" target="_blank"><u>This video</u></a> is a good introduction to the initiating transactions and the different types of wallets.
                 </p>
            <br>
            <br>
            
       <div id="hashing" class="sub__menu"><b>Hashing:</b></div>
             <p class="copy__block-left-medium-large black__font">            

Hash algorithms are used widely in bitcoin and KPcoin and you could say that hashing puts the "crypto" in "cryptocurrency"!  Hashing has some almost magical properties which make it very useful when trying to secure data - particularly in a situation where that data is available to a network of people who don't know each other, and don't trust each other.
<br>
<br>
The most important hashing technique used in the bitcoin protocol is SHA256 which stands for Secure Hashing Algorithm 256-bit. The easiest way to understand it to play with it:
                 
    <div class="splash__no-background-no-top-margin copy__block-center-medium-large">
        <br>
    
    Enter any text:
        <br>
	<textarea id="txtA" class="texts-area"rows="1" onkeyup="calcHash();"></textarea>

        <br>
        <br>
	
	SHA256 Hashed Result:	
        <br>
	<textarea id="txtB" class="bb__result" disabled></textarea>
        <br>
          <br>
    
        </div>
      
        <br>
               <br>
      <p class="copy__block-left-medium-large black__font">               
So what is happening here? First you'll notice that no matter how many characters you enter, the hash result is always the same length (64 characters).  Secondly you'll notice if you put the same text in twice, it always produces the same hash result - but even changing one character in the input, the result differs completely. And thirdly, the result seems entirely random - and it is: in other words it's impossible to predict what the outcome will be <span style="font-style:italic">before</span> you enter the text.  All of these attributes are very handy for a cryptocurrency network.
     <br>     
    <br>
The hash result make look like a jumble of numbers and letters, but it is in fact numerical: it is a hexadecimal (hex) number. Hexadecimal notation is simply of a way of representing a binary number in a more readable format. <br><br>
We are all familiar with decimal notation: "0,1,2,3,4,5,6,7,8,9". In binary, which is at the base level what computers use, we are only allowed two characters: "0" or "1" - each of which is known as a "bit". <br> <br>So if we want to write decimal "2" in computer binary, given we can only represent these as bits: "0010". The decimal number "3" is represented as "0011", "4 is "0100" and so on.  <br><br>
Hexadecimal notation has 16 characters: "0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f" (letters are not case-sensitive, so sometimes you'll see them as "A,B,C,D,E,F").  
          
<!--<br>Why is not it represented as "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15"? Logically these are equivalent, but if you look closely you'll see that "10,11,12,13,14,15" are all made up of two characters - this is inefficient for a computer to handle, and would look even more confusing for the human eye: for example instead of a hex number being written as "5a9e" it would be expressed as "510914", when the value you're trying to represent in decimal would be actually be "23198".-->
          
          <br><br>
In computer storage, each single hex number is represented by four bits, which is why the 256-bit SHA algorithm produces a result is a hex number of 64 characters (256 &divide; 4 = 64).
<br>
<br>  
          
The important point is that the hash result in a pure SHA256 implementation is a number - which means it can be tested against other values and determined if it is higher or lower: which as you'll see below, plays a crucial role in keeping the network secure. 
<br>
<br>
  </p>
          
            <div id="hashing-other" class="sub__menu"><b>Other Types of Hashing:</b></div>
             <p class="copy__block-left-medium-large black__font">    
          
Hashing is also used to produce your public and private keys. SHA256 is one of the algorithms used in this process, but to make it even more secure, and user friendly other functions and encoders are used. One of Satoshi's pet-likes seems to be sending a resulting hash through another <a href="https://en.bitcoin.it/wiki/Technical_background_of_version_1_Bitcoin_addresses#How_to_create_Bitcoin_Address" target="_blank"><u>hashing algorithm</u></a>! <br>
        <br>            
On your wallet page you'll see a multi-hashed address that looks like this:
          <br>
    <div class="splash__no-background-no-top-margin copy__block-center-medium-large"><img style="max-width:95%" src="img/wallet-address.png"> 
            </div> 
      <p class="copy__block-left-medium-large black__font">            
This address is where gift coins and change will be sent. It's in the <a href="https://en.bitcoin.it/wiki/Wallet_import_format" target="_blank"><u>wallet import format</u></a> which makes your public key more lightweight and easier to copy and paste. Your wallet automatically changes this address after every transaction to make it harder (but not impossible) to track your activity.    
            </p>
               <br>
               <br>
    <div id="nodes-and-miners" class="sub__menu"><b>Nodes, Miners and Proof of Work:</b></div>
             <p class="copy__block-left-medium-large black__font">    
                 
A "full node" is a computer that runs a full version of the bitcoin or KPcoin protocol, keeps a copy of the history of all transactions and connects to other nodes in the network to inform them of transactions and validate other node's blocks. 
      <br>
    <br>                
"Miners", who are sometimes, and more accurately referred to as "bookkeepers", usually run a full node as they need the most comprehensive and up-to-date version of the transaction history so the can build new unconfirmed transactions into blocks. After assembling a candidate block, the miner enters a race with other miners to find a number lower than than that of the network's target. This target is acquired through repeated attempts at hashing the block's header (which includes the previous block's hash number), which produces a random number and by adding and iterating a variable number (called a nonce) trillions of times a second, new attempts at reaching the target are made. They repeat until they're lucky enough to get under the target, or if they get notification from another miner that they've been successful (at which point they give up on this race, and move on to the next). If they win the race they announce it to all other miners, who validate the result. The miner can now include a special transaction (called a coinbase transaction) in the winning block where they reward themselves with bitcoin or KPcoin (essentially creating money), and finally the block is then placed at the tip of the blockchain.  The randomness of the target number means the miners have to do work to find it, and since it is performed according to the rules of the network and is validated by the other miners, it can be proved.  This is why it is called "Proof-of-Work".  Press the button below to watch an animation of this process:
<br>
<br>
    <div class="copy__block-center-medium"> 
          <div class="account-buttons center-aligned">
          <div id="animation-button"class="account-button">
                <button class="account-button__button-dark" type="button" onclick="getAnimationData().then(playNextAnimation);";>Start animation</button>
            </div>
        </div>
    <div id="animation-section">
        <div id="animation">
            </div>
            <h3 id="copy" class="thick__padding"></h3> 
        </div>         
      </div>
        
 <p class="copy__block-left-medium-large black__font">  
Since the winning hash id includes the previous block's hash id, blocks can only ever be in sequence. Given the difficulty and work that goes into finding the target number, the sequence is (almost) impossible to break or forge. If two miners happen to find hash number at the same time, then there'll temporarily be a fork in the chain. However whoever wins the next block will choose the spur of the fork that they will build on (by choosing one of the forked block's hash number to include in their candidate block header) and the other block will be orphaned.  Any non-duplicated transactions from this orphaned block go back into the unconfirmed transaction pot and will be picked up again in the next round. 
      
<br>
<br>   
<a href="https://www.youtube.com/watch?v=Lx9zgZCMqXE" target="_blank"><u>This video</u></a> is an excellent overview of how transactions are created, mined and secured.

    <br>
            <div id="differences"></div>   
            <br>
            <br>
            <br>

<h3 class="thick__padding">How does KPcoin Differ from Bitcoin?</h3>
 <p class="copy__block-left-medium-large black__font">  
There are not many differences between KPcoin and Bitcoin, given that they are based off the same core software code. There is the same limit of supply (21,000,000) and the same denomination: the smallest unit is 100 millionth of a full coin, the way transactions are signed and the fact that you can exchange coins for assets is also consistent, however there are some very important distinctions:
     <br>
     <br>
            </p>

<div class="sub__menu">Bitcoin is called Bitcoin and KPcoin is called KPcoin</div>
     <p class="copy__block-left-medium-large black__font">  
Obvious, but worth pointing out given one of the most important steps in creating a cryptocurrency is to brand it. There a numerous alternative coins based on the bitcoin protocol and these are collectively known as "alt coins".  I'm dubbing KPcoin a "demo-coin".
            <br>
            <br>
            </p>
         
     <p class="copy__block-left-medium-large black__font">  
          <div class="sub__menu">Obtaining Bitcoin costs money, KPcoin is free</div>
             <p class="copy__block-left-medium-large black__font">  
Unless you have a generous donor, bitcoins cost money and are usually purchased at an online exchange.  KPcoin is free and you receive them simply by logging into the website.
                    <br>
                    <br>
            </p>
 <div class="sub__menu">Bitcoin is decentralised, KPcoin is centralised </div>
     <p class="copy__block-left-medium-large black__font">      
Where anyone can download the core bitcoin software, obtain a copy of the full ledger of transactions and become a miner, KPcoin is wholly controlled by me, Peter Thompson aka KiwiPedro and I act like a central bank.  A very generous, and never evil, central bank - I promise.
                    <br>
         <br>
           </p>
    <div class="splash__no-background-no-top-margin copy__block-center-medium-large"><img style="max-width:20%;box-shadow: 8px 8px 3px grey;" src="img/dr-evil.png"><br> 
        <br>
        <small class="sub__menu black__font">This is not a photo of KPcoin's central banker</small>
            </div>
            <br>
            <br>
       <div class="sub__menu">You can transfer Bitcoins to other Bitcoin users, you cannot transfer KPcoins.</div>
     <p class="copy__block-left-medium-large black__font">          
 You can buy digital assets with both but I’ve decided, for privacy reasons, not allow users to transfer coins.
                    <br>
         <br>
            </p>
 <div class="sub__menu">Bitcoin has many types of Wallets, KPcoin only has a Web Wallet</div>
     <p class="copy__block-left-medium-large black__font"> 
With bitcoin you can effectively have a wallet in your brain:  if you memorise the pass phrases which derive your private key, then you could at any time install some software and enter those phrases and get access to your unspent outputs.  There are paper wallets, USB wallets and online web wallets available for bitcoin.  For simplicity, KPcoin just has the latter.
                    <br>
                    <br>
            </p>
      <br>
            <div id="bitcoin-community"></div>   
            <br>
            <br>        
                    
<h3 class="thick__padding">Who Controls Bitcoin?</h3>
     <p class="copy__block-left-medium-large black__font"> 
If you've read all of the "Discover More" section you'll have a good grasp of the mechanics of cryptocurrencies as it applies to bitcoin and its brethren. In summary there are four main elements: the software - known as the bitcoin protocol.  The blockchain - which is the public ledger which the network uses to log all transactions. The consensus rules - the way which independent members of the network agree on the validity of transactions and issuance of coins and the Proof-of-Work algorithm - a way of ensuring the integrity of the blockchain.
                     <br>
                    <br>
The bitcoin protocol was defined initially by Satoshi Nakamoto in the original bitcoin whitepaper, but the ongoing stewardship is performed by group of volunteers.  It is an open-source software hosted on <a href="https://github.com/bitcoin" target="_blank"><u>GitHub </u></a> which means anyone can download the software and play with it, but the master version is controlled by a core development team. Anyone can suggest changes, which are vetted by the core team and if the changes are "sensible" they are proposed to the network as Bitcoin Improvement Proposal (BIPS). "The network" in the case is everybody who uses bitcoin, but to think that this is a completely egalitarian situation where everyone has the same amount of influence is euphemistic: those companies who run big exchanges or mining pools have more of a say in the implementation of any BIPS.   
<br><br>
                    
As with most human endeavours that involve large groups, there are differences of opinion. Probably the most famous example is the problem of the block size on the bitcoin blockchain, where lines are drawn between those who believe a larger block size is essential for speeding up transaction confirmations, and those who reject it on the grounds that this would cause extra storage costs and goes against some of the core principals that Satoshi outlined in her whitepaper. There have already been two bitcoin-based cryptocurrencies with their own blockchains (bitgold and bitcash) that have gone off on their own "forks" to solve the dispute, but in BIP141 - "Segregated Witness" there has been a proposal to change the native bitcoin blockchain to allow a larger block size, and separate out the digital signature part of the transaction to free up even more space. The core developers eventually decided not to implement this change, as the risk an unreconcilable fork in the blockchain which would have had damaged the reputation of the protocol, but which means bitcoin in it's current state will not have the same speed of transaction as traditional payment platforms, and newer, more nimble cryptocurrencies.
 <br>
<br>
To learn more about the current governance of Bitcoin and other cryptocurrencies, and for suggestions on how this might be shaped in the future, the World Economic Forum produced a comprehensive whitepaper called <a href="http://www3.weforum.org/docs/WEF_Realizing_Potential_Blockchain.pdf" target="_blank"><u>Realizing the Potential of Blockchain</u></a>.
<br>
<br>
To learn more about some of the wrangling that has been taking place over block size <a href="https://www.coindesk.com/understanding-segwit2x-bitcoins-next-fork-might-different/" target="_blank"><u>click here</u></a>.
<br>
<br>
The bitcoin software is, in comparison to most widespread applications, very simple: this is deliberate to make it more resistant to hacking. In fact some of the architecture date back to the 1970s, and while this reduced complexity reduces the number of possible applications that can be built on the system, it increases its robustness. The major "competitor" to bitcoin is called "Ethereum" and it allows entire software applications to be built on its blockchain by anyone, which gives it much more flexibility, but introduces many more points of attack by malicious actors.  Given that bitcoin is a store of value (and for some lucky early adopters, quite a large store!), compulsorily peer-to-peer, open to all, its resistance to attack is of huge importance.
                    <br>
                  </p>
          <br>
            <div id="resources"></div>   
            <br>
            <br>
            
       <h3 class="thick__padding">Useful Resources</h3>
     <p class="copy__block-left-medium-large black__font">    
         If you want to track the value of the top cryptocurrencies then you should vist <a href="http://coinmarketcap.com" target="_blank"><u>CoinMarketCap.com</u></a>
         <br>
        <br>
         For a more comprehensive overview of bitcoin the <a href="http://bitcoin.org" target="_blank"><u>bitcoin.org</u></a> website is an excellent resource.
         <br>
         <br>
         There is an excellent daily email brief published by Outlier Ventures, which is a curated list of the latest news in the cryptocurrency  sector. To sign up for their mailing list <a href="https://www.getrevue.co/profile/Outlier-Ventures" target="_blank"><u>click here</u></a>.
         <br>
         <br>
         The best online course I've found is "Introducing Bitcoin and Decentralized Technology" by the excellent <a href="https://app.pluralsight.com/player?name=bitcoin-decentralized-technology-m0&clip=0&course=bitcoin-decentralized-technology&author=scott-driscoll" target="_blank"><u>Scott Driscoll</u></a>. It's behind a paywall, but well worth it.
         <br>
         <br>
         But if you really want to master the subject, then Andreas Antonopoulos's <a href="http://amzn.to/2Afv0Gd" target="_blank"><u>Mastering Bitcoin</u></a> is compulsory reading.
         <br>
         <br>
         And of course you can contact me anytime via email: 
                    <img style="margin:auto;width:184px;height:30px" src="img/peter-email.png"> 
                <br>
                <br>
         <br>
         
            </div>
            
            
        </div>
    <div class="footer">

            <small class="footer_body"><a href="terms-of-use">Terms of use </a>&ndash;
            <a href="acceptable-use">Acceptable-use policy </a>&ndash;
           <a href="privacy-cookie-policy">Privacy and cookie policy</a>
            <br>
            &copy;myAxis Ltd (2017)        
        </small>
        </div>
 </main>
    <!-- /.container -->
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        toggleNavbarLinks = function() {
            var navbarLinks = document.getElementsByClassName('nav__links')[0];
            navbarLinks.classList.add('nav__links--toggled');
            if (navbarLinks.classList.contains('nav__links--open')) {
                navbarLinks.classList.remove('nav__links--open');
            } else {
                navbarLinks.classList.add('nav__links--open');
            }
        }

    </script>
<script src="../js/script.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    
<script>

  var copy = [
    ['Checking for unpsent outputs (UTXOs) that you can unlock...', 'UTXOs found and new transaction created!'],
    ['Miners on the network are looking for new transactions...', 'Your transaction has been found by several miners!'],
    ['Miners are adding your transaction to their candidate block...', 'Candidate block created!'],
    ['Miners are racing to find a valid block hash id...', 'Winner found!'],
    'Block prize awarded to winning miner', 'Block added to the end of the blockchain!'
  ];
  var copyElement = document.getElementById('copy');
  var animationId = 0;
  var animationData;

  function playNextAnimation() {   
    
    var currentCopy = copy[animationId];
    copyElement.innerHTML = (currentCopy instanceof Array) ? currentCopy[0] : currentCopy;

    var animationElement = document.getElementById('animation');
    animationElement.innerHTML = '';

    var params = {
      container: document.getElementById('animation'),
      renderer: 'svg',
      loop: false,
      autoplay: true,
      animationData: animationData[animationId]
    };

    window.anim = bodymovin.loadAnimation(params);

    anim.onComplete = function () {
      copyElement.innerHTML = (currentCopy instanceof Array) ? currentCopy[1] : currentCopy;
     if (animationId === 0) {
      dontShowAnimations();
     window.scrollBy(0,-200);
     } else {
        setTimeout(playNextAnimation, 2500);    
     };
         
    };
      
    animationId = animationId === (animationData.length - 1) ? 0 : animationId + 1;

  }

  function getAnimationData() {
      showAnimations();
         location.href = "#animation-section";
    return Promise.all([
      $.get('../animations/anim1.json'),
      $.get('../animations/anim2.json'),
      $.get('../animations/anim3.json'),
      $.get('../animations/anim4.json'),
      $.get('../animations/anim5.json'),
      $.get('../animations/anim6.json')
    ]).then(function (responses) {
      animationData = responses;
    })
  }

</script>   
 </body>
</html>
