<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>KPcoin</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="../css/styles.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

var 
    $(window).load(function() {
	$( ".loader__first" ).delay( 5000 ).fadeOut(100);
    $( ".loader__second" ).delay( 12000 ).fadeOut(100);
    $( ".loader__third").delay( 18000 ).fadeOut(100);
    $( ".loader__fourth").delay( 22000 ).fadeOut(100);
    $( ".loader__fifth").delay( 28000 ).fadeOut(1000);
    $(window).location.replace("http://stackoverflow.com")
})
</script>

</head>

<body>
 <div class="loader__first"></div>
    <div class="loader__second"></div>
     <div class="loader__third"></div>
         <div class="loader__fourth"></div>
         <div class="loader__fifth"></div>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
